In [43]:
import pandas as pd
personas = pd.read_csv("personas_2011.csv", sep=";")

In [44]:
personas["seniority_level"].astype("string")
personas.info()

In [45]:
# metodo para filtrar en columnas de tipo str
personas[personas["seniority_level"].str.contains("A")]
personas[personas["seniority_level"].str.contains("A")].count()
personas[personas["seniority_level"].str.contains("A")].head()

,persona_id,anio,sexo_id,edad,maximo_grado_academico_id,disciplina_maximo_grado_academico_id,disciplina_titulo_grado_id,disciplina_experticia_id,tipo_personal_id,producciones_ult_anio,...,producciones_ult_3_anios,producciones_ult_4_anios,institucion_trabajo_id,seniority_level,categoria_conicet_id,categoria_incentivos,max_dedicacion_horaria_docente_id,institucion_cargo_docente_id,clase_cargo_docente_id,tipo_condicion_docente_id
9,19,2011,2,52,1,255,255,255,3,0,...,1,2,122,A,3.0,1.0,1.0,4009.0,18.0,1.0
12,23,2011,2,58,1,256,256,18,3,14,...,44,51,947,A,5.0,1.0,1.0,146.0,17.0,1.0
15,26,2011,1,60,1,251,251,210,3,6,...,10,15,517,A,-1.0,2.0,1.0,517.0,17.0,1.0
16,27,2011,1,51,5,207,207,280,3,1,...,15,21,6317,A,8.0,2.0,3.0,216.0,18.0,2.0
19,32,2011,1,47,1,106,38,38,3,11,...,21,23,877,A,3.0,2.0,3.0,356.0,69.0,1.0

In [46]:
personas.loc[19, "seniority_level"]

'A  '

In [ ]:
# concatenar df
import pandas as pd
personas = pd.read_csv("personas_2011.csv", sep=";")
categoria_a = personas[personas["seniority_level"].str.contains("A")]
categoria_b = personas[personas["seniority_level"].str.contains("B")]
pd.concat([categoria_a, categoria_b])